body{
    margin: 0;
    direction: rtl;
}

/* newTweet components class style */
.editable:empty:before {
    content: attr(data-placeholder);
    color: #8e8e8e;
}
a{
    text-decoration: none;
    color: unset;
}
a:visited{
    color: unset;
}
.uni_m_b_small{
    margin-bottom: 1rem;
}